@model IEnumerable<Bravado.Models.Content>

@{ ViewData["Title"] = "Journal Entry"; }

<h1>Entry List</h1>

<p>
    <button type="button" class="btn btn-primary"><a asp-action="Create" style="color:white">New Entry</a></button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateCreated)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.ContentID">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.ContentID">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.ContentID">Delete</a>
    </td>
</tr>
}
    </tbody>
</table>
