@model IEnumerable<Bravado.Models.Entry>

@{ ViewData["Title"] = "Index";}

<h1>List of Current Entries</h1>

<p>
    <button type="button" class="btn btn-primary"><a asp-action="Create" style="color:white">Create New</a></button>
</p>
<table class="table">
    <thead>
        <tr>
            <th width="25%">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th width="50%">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th width="25%">
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td width="25%">
        <a asp-action="Details" asp-route-id="@item.ContentID">@Html.DisplayFor(modelItem => item.Title)</a>
    </td>
    <td width="50%">
        @Html.Raw((item.Description.Length > 200 ? item.Description.Substring(0, 200) : item.Description))
    </td>
    <td width="25%">
        @item.DateCreated.ToString("dd-MMM-yyyy")
    </td>
    <td>
        <button type="button" class="btn btn-outline-primary"><a asp-action="Edit" asp-route-id="@item.ContentID"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></button>
    </td>
</tr>
}
    </tbody>
</table>
