@model Bravado.ViewModel.EntryViewModels.EntryViewModel


@{ ViewData["Title"] = "Index";}

<h1>List of Current Entries</h1>

<p>
    <button type="button" class="btn btn-primary"><a asp-action="Create" style="color:white"><i class="fa fa-file-text-o" aria-hidden="true"></i> Create New Entry</a></button>


    <form class="search-wrapper cf" asp-controller="Entry" asp-action="Index" method="GET">
        <input class="form-control" placeholder="Search for Entry Title" name="SearchString" type="text">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</p>

<table class="table">
    <thead>
        <tr>
            <th width="25%">
                @Html.DisplayNameFor(model => model.Entries[0].Title)
            </th>
            <th width="45%">
                @Html.DisplayNameFor(model => model.Entries[0].Description)
            </th>
            <th width="20%">
                @Html.DisplayNameFor(model => model.Entries[0].DateCreated)
            </th>
            <th width="10%">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Entries)
        {
<tr>
    <td width="25%">
        <a asp-action="Details" asp-route-id="@item.ContentID">@Html.DisplayFor(modelItem => item.Title)</a>
    </td>
    <td width="50%">
        @Html.Raw((item.Description.Length > 200 ? item.Description.Substring(0, 200) : item.Description))
    </td>
    <td width="15%">
        @item.DateCreated.ToString("dd-MMM-yyyy")
    </td>
    <td width="10%">
        <button type="button" class="btn btn-outline-primary"><a asp-action="Edit" asp-route-id="@item.ContentID"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></button>
    </td>
</tr>}
    </tbody>
</table>
